<div class="bg-dark vh-100">


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Desafio CalcMe</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Simples" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">JhonMed</button>
      </form>
    </div>
</nav>

<div class="container col-md-4 text-white text-center mt-5 border border-primary">

  <h1 class="mb-5 mt-5">Formulario para contato</h1>

  <form >
    <div class="mb-3">

      <label for="exampleInputEmail1" class="form-label">Digite aqui seu nome</label>
      <input type="text" class="form-control mb-5" id="exampleInputEmail1" aria-describedby="emailHelp" name="nome" [(ngModel)]="formulario.nome">

      <label for="exampleInputEmail1" class="form-label">Digite aqui seu email</label>
      <input type="email" class="form-control mb-5" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite um email válido" name="email" [(ngModel)]='formulario.email'>

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Digite aqui seu telefone</label>
      <input type="tel" class="form-control mb-5" id="exampleInputPassword1" name="telefone" placeholder="Digite um numero válido" [(ngModel)]='formulario.telefone'>
    </div>


    <button type="submit" class="btn btn-primary mb-5" (click)="enviar()">Enviar</button>
  </form>

</div>

<div class="container card mt-5 d-flex justify-content-center bg-dark rounded border border-primary" style="width: 18rem;">
  <h1 class="d-flex text-primary">Todos contatos</h1>

  <div class="card-body border mt-5 bg-primary" *ngFor='let contato of listaContatos'>
    <h5 class="card-title">{{contato.nome}}</h5>
    <p class="card-text">{{contato.email}}</p>
    <p class="card-text">Telefone: {{contato.telefone}}</p>
  </div>
</div>

</div>
